# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# Ignoring all data and plots save memory
**/data/
**/plots/

# Ignoring Autodock files
**/AutoDock-GPU/

 # Ignoring Scripts
./batch_push.sh

/Archive/AutoDock-GPU/.git/objects/pack/pack-02b0ef99beb9c8b30ab0bdf38aefc1e9fa122747.pack
/Archive/vae.pt
/Archive/checkpoints/conditional_vae.pt
/Archive/checkpoints/checkpoint_kiba_3.ckpt
/Archive/checkpoints/binding_affinity_kiba_fold_3.ckpt
/Archive/checkpoints/conditional_vae_1.pt
/Archive/checkpoints/binding_affinity_kiba_fold_0-v1.ckpt
/Archive/checkpoints/checkpoint_kiba_1.ckpt
/Archive/checkpoints/binding_affinity_kiba_fold_0.ckpt
